.attribution {
  margin-top: 10em;
    font-size: 11px;
    text-align: center;
  }

  html{
    background-color: lightblue;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

p{
  margin-top: 5em;
}

  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
main{
    max-width: 30em;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    width: 40em;
    height: 48em;
    padding-top: 1.5em;
}

  #image{
    max-width: 25em;
    border-radius: 50px;
  }